@import "normalize.scss";
@font-face{
  src: url(../fonts/fontawesome-free-5.14.0-web/webfonts/fa-regular-400.woff2);
  font-family: fontawesome;
}
@font-face {
  src: url(../fonts/GothamPro.woff), url(../fonts/GothamPro.ttf);
  font-family: Gotham Pro;
}

@font-face {
  src: url(../fonts/GothamPro-Bold.woff), url(../fonts/GothamPro-Bold.ttf);
  font-family: Gotham Pro Bold;
}

@font-face {
  src: url(../fonts/GothamPro-Medium.woff), url(../fonts/GothamPro-Medium.ttf);
  font-family: Gotham Pro Medium;
}

@font-face {
  src: url(../fonts/PFDinTextPro-Regular.woff),
    url(../fonts/PFDinTextPro-Regular.ttf);
  font-family: PFDinTextPro-Regulal;
}

@font-face{
  src: url(../fonts/fa-solid-900.woff2);
  font-family: fontawesome;
}
a{
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  background: #f1f1f1;
  font-family: Gotham Pro;
}


header {
  position: fixed;
  z-index: 50;
  width: 100%;
  left: 0;
  top: 0;
}
header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 2;
}
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.logo {
  height: 12px;
  width: 36px;
  position: relative;
  z-index: 3;
}
.menu-burger {
  display: none;
}
.menu {
  font-family: Gotham Pro Bold;
}
.menu__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.menu__list li {
  list-style: none;
}

.menu__link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #48494a;
  font-size: 14px;
  margin-left: 44px;
  transition: 0.6s;
}

.menu__link:after,
.menu__link:before {
  transition: all 0.5s;
}
.menu__link:hover {
  color: #555;
}

.menu__link:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 3px;
}
.menu__link:hover:after {
  width: 100%;
}


.companies {
  margin-bottom: 120px;
  margin-top: 150px;
}
.companies-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}
.info-text {
  font-size: 30px;
  font-family: Gotham Pro Medium;
}
.info-button {
  border: none;
  background: #ff0000;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  padding: 12px 30px;
  border-radius: 5px;
}
.info-button:hover {
  box-shadow: 0px 10px 15px rgba(250, 17, 17, 0.5);
}
.companies-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-block {
  z-index: 1;
  background: #ffffff;
  width: 335px;
  height: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.main-block:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.block-img {
  height: 245px;
  box-shadow: inset 0 -10px 50px #000000;
  position: relative;
}
.back-img {
  z-index: -1;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cloud {
  position: absolute;
  top: 10px;
  left: 20px;
  background: url(../images/front_img.png) no-repeat;
  background-size: cover;
  min-height: 30px;
  max-width: 125px;
  &__text {
    color: #000000;
    text-transform: uppercase;
    margin: 8px;
    font-size: 11px;
    font-family: Gotham Pro Bold;
  }
}
.block-like{
  position: absolute;
  top: 10px;
  right: 20px;
  height: 35px;
  width: 35px;
}
.like {
  position: relative;
}

.like_btn {
  cursor:pointer;
  padding: 10px;
  background:#fff;
  border-radius:5px;
  background: rgba(0, 0, 0, 0.3);
  display:inline-block;
  color:#aaa;
  transition:.2s;
}

.like_btn:hover {
  color:#666;
}

.like_btn:before {
  font-family:fontawesome;
  content:'\f004';
  font-style:normal;
}

.like_text {
  position: absolute;
  top:-40px;
  left:0;
  right:0;
  visibility: hidden;
  transition:.6s;
  z-index:-2;
  font-size:2px;
  color:transparent;
  font-weight:400;
}

.like_btn.press {
  animation: size .4s;
  color:#e23b3b;
}

.like_text.press {
  bottom:120px;
  font-size:14px;
  visibility:visible;
  animation: fade 1s;
}

@keyframes fade {
  0% {
    color: transparent;
  }
  50% {
    color: #e23b3b;
  }
  100% {
    color: transparent;
  }
}

@keyframes size {
  0% {
    padding:10px 12px 8px;
  }
  50% {
    padding:14px 16px 12px;  
    margin-top:-4px;
  }
  100% {
    padding:10px 12px 8px;
  }
}
.block-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
.text-companies {
  margin-bottom: 5px;
  font-size: 15px;
  font-family: Gotham Pro Bold;
  color: #ffffff;
  text-transform: uppercase;
}
.year {
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  font-family: Gotham Pro Bold;
}
.content {
  position: relative;
  min-height: 120px;
  padding: 25px;
  background: #ffffff;
}
.address {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  .info {
    font-size: 14px;
    font-style: normal;
    color: #595a5b;
    max-width: 220px;
  }

  .icon {
    position: absolute;
    right: 30px;
  }
}
.subcontent {
  
  display: flex;
  align-items: center;


  .money {
    background: #fffbd7;
    font-size: 14px;
    color: #161617;
    padding: 8px;
    margin-right: 20px;
  }

  .price {
    font-size: 18px;
    font-family: Gotham Pro Bold;
  }

  .it-solutions {
    font-size: 12px;
    color: #80848d;
  }

  .solutions {
    font-family: Gotham Pro Bold;
  }
}


.block__promotions {
  background: url(../images/back.png) left -150px bottom 0px no-repeat;
  padding-bottom: 50px;
  .block__container {
    display: flex;
    color: #48494a;
    justify-content: space-between;
    flex-wrap: wrap;
    .right__promo {
      width: 930px;
      .right__promo-content {
        .right__promo-text {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            font-size: 30px;
            font-family: Gotham Pro Medium;
          }
        }
        .promo__content {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          // height: 100%;
          .block__item {
            // width: 100%;
            width: 450px;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
            
            .item__img {
              position: relative;
              height: 245px;
              min-width: 450px;
              .item__text {
                position: absolute;
                bottom: 20px;
                left: 20px;
                text-transform: uppercase;
                font-size: 16px;
                color: #ffffff;
                font-family: Gotham Pro Bold;
                margin: 0;
              }
            }
            .promo-1 {
              background: url(../images/shares_1.png);
            }
            .promo-2 {
              background: url(../images/shares_2.png);
              background-size: cover;
            }
            .text__item {
              background: #ffffff;
              min-height: 180px;
              padding: 20px;
              position: relative;
              p {
                margin: 0;
                font-size: 14px;
              }
              .time {
                position: absolute;
                bottom: 40px;
              }
            }
          }
        }
        .promo__content{
          
            .block__item:hover{
              box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

            }
          
        }
      }
    }
    .left__promo {
      max-width: 313px;
      .left__promo-content {
        margin-top: 100px;
        width: 250px;
        .mailing {
          font-size: 30px;
          font-family: Gotham Pro Medium;
          margin-bottom: 15px;
        }
        .news {
          font-size: 14px;
          margin-bottom: 60px;
        }
        .email {
          font-size: 14px;
          margin: 0;
          color: #48494a;
        }
      }
      .mail {
        width: 100%;
        border: none;
        height: 55px;
        color: #80848d;
        padding: 0 20px;
        margin-bottom: 30px;
      }
      button {
        border: none;
        background: #ff0000;
        // width: 100%;
        color: #ffffff;
        font-size: 14px;
        text-transform: uppercase;
        font-family: Gotham Pro Bold;
        padding: 20px 0;
      }
      .submit {
        border: none;
        background: #ff0000;
        width: 100%;
        color: #ffffff;
        font-size: 14px;
        text-transform: uppercase;
        font-family: Gotham Pro Bold;
        padding: 20px 0;
      }
      .submit:hover{
        box-shadow: 0px 10px 15px rgba(250, 17, 17, 0.5);

      }
    }
  }
}

.container-footer {
  max-width: 1164px;
  margin: 0 auto;
}
footer {
  background: #ffffff;
}

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    align-items: center;
  }
  .links-text{
    font-size: 16px;
    font-family: Gotham Pro Medium;
    color: #9da2a8;
  }

  .links {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .link {
    margin-right: 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    font-size: 28px;
    transition: 0.6s linear;
    position: relative;
  }
  .link:hover{
    transform: scale(1.3);
  }
  .link i:before{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-size: 200% 200%;
    background-position: 100% 100%;
    top: 0;
    left: 0;
    line-height: 30px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-color 0.5s linear;
  }
  
  a:hover i:before{
    background-position: 0% 0%;
  }

  .fa-facebook-f:before{
    background-image: linear-gradient(135deg, #3b5998 50%, #fffc5a 50%);
  }

  .fa-twitter:before{
    background-image: linear-gradient(135deg, #1da1f2 50%, #fffc5a 50%);
  }

  .fa-instagram:before{
    background-image: linear-gradient(135deg, #c32aa3 50%, #fffc5a 50%);
  }

  .fa-youtube:before{
    background-image: linear-gradient(135deg, #d71e18 50%, #fffc5a 50%);
  }
.autograph {
  display: flex;
  img{
    width: 35px;
    height: 35px;
  }
}
.auto-text {
  margin-left: 10px;
  .text-site {
    margin: 0;
    color: #94999f;
    font-size: 12px;
    font-family: PFDinTextPro-Regulal;
  }

  .text-w-square {
    margin: 0;
    font-size: 18px;
    font-family: Gotham Pro Bold;
  }
}

@media (max-width: 1470px) {
  .container {
    max-width: 1200px;
  }
  .companies {
    margin-bottom: 10px;
    }

  .main-block {
    
      margin: 20px auto;
    
  }
  .promo__content{
    flex-grow: 1;
  }

  .block__promotions {
    background: url(../images/back.png) center center;
    .block__container {
      flex-grow: 1;
      .right__promo {
        margin: 20px auto;
        
      }
    }
    .left__promo {
      margin: 20px auto;
      .left__promo_content {
        text-align: center;
      }
    }
  }
}

@media (max-width: 1250px) {
  .container {
    max-width: 900px;
  }
  
  .block__promotions {
    .block__container {
      .right__promo {
        .right__promo-content {
          .promo__content {
            .block__item {
              margin: 20px auto;
              .block__link{
                margin: 30px auto;
              }
            }
          }
        }
      }
    }
  }
  
  .container-footer {
    max-width: 900px;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 800px;
  }


  .block__promotions {
    .block__container {
      .right__promo {
        width: 700px;
        .right__promo-content{
          .promo__content{

            .block__item{
              margin: 0 auto;
            }
          }
        }
      }  
    }
  }
  .container-footer {
    max-width: 600px;
  }
}

@media (max-width: 768px) {

  .container{
    max-width: 500px;
  }
  .companies-info{
    flex-direction: column;
    // margin: 0;
    .info-text {
        font-size: 20px;
        margin-bottom: 10px;
    }
  }

  .block__promotions {
    .block__container {
      .right__promo {
        margin: 0 20px;
        .right__promo-content {
          .right__promo-text {
            p {
              font-size: 20px;
            }
          }
        }
      }
      .left__promo {
        .left__promo-content {
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }
  .container-footer {
    max-width: 400px;
  }
  body.lock {
    overflow: hidden;
  }

  .menu-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    z-index: 3;
  }
  .menu-burger span {
    position: absolute;
    background-color: #000000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 8px;
    transition: all 0.5s ease 0s;
  }
  .menu-burger:before,
  .menu-burger:after {
    content: "";
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  .menu-burger:before {
    top: 0;
  }
  .menu-burger:after {
    bottom: 0;
  }
  .menu-burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .menu-burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .menu-burger.active span {
    transform: scale(0);
  }

  .menu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #96d1e1;
    padding: 90px 18x 20px 18px;
    transition: all 0.5s ease 0s;
  }
  .menu.active {
    top: 70px;
  }
  .menu__list {
    display: block;
  }
  .menu__list li {
    margin: 40px 0;
    a {
      font-size: 24px;
    }
  }

}
